            <form action="/celebrities/create" method="POST">
                <div class="mb-3">
                    <label for="name" ><i>Name</i></label>
                    <input type="text" name="name">
                </div>

                <div >
                    <label for="occupation" class="form-label"><i>Occupation</i></label>
                    <input type="text" class="form-control" id="occupation" name="occupation">
                </div>

                <div >
                    <label for="catchPhrase" ><i>Catch Phrase</i></label>
                    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase">
                </div>


                <button type="submit" >Send</button>
            </form>