<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
 <a href="/celebrities/create">Create your celebrity</a>
 <a href="/celebrities">List of celebrities</a>
 <a href="/movies/create">Add your movie</a>
   <a href="/movies">Lista de peliculas</a>